<?xml version="1.0"?>
<configuration>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <connectionStrings>
    <!--<add name="TESTDBConnectionString" connectionString="Data Source=svdpo051;Initial Catalog=TESTDB;Persist Security Info=True;User ID=ado_bptb001;Password=ado_bptb001"
      providerName="System.Data.SqlClient" />-->
    <add name="EXPDBConnectionString" connectionString="Data Source=KBHWPM02;Initial Catalog=EXPDB;Persist Security Info=True;User ID=sa;Password=expdb-manager" providerName="System.Data.SqlClient"/>
    <add name="KBHWPA85ConnectionString" connectionString="Data Source=KBHWPA85;Initial Catalog=BPTB001;Persist Security Info=True;User ID=ado_bptb001;Password=ado_bptb001" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>


  
</configuration>