<?xml version="1.0"?>
<configuration>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <connectionStrings>
    <add name="EXPDBConnectionString" connectionString="Data Source=KBHWPM02;Initial Catalog=EXPDB;Persist Security Info=True;User ID=sa;Password=expdb-manager" providerName="System.Data.SqlClient"/>
    <add name="KBHWPA85ConnectionString" connectionString="Data Source=KBHWPA85;Initial Catalog=BPTB001;Persist Security Info=True;User ID=ado_bptb001;Password=ado_bptb001" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!-- OUTLOOK使用 -->
        <!--<add assembly="office, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!-- OUTLOOK使用 -->
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off"/>
  </system.web>
  <location path="cs_manual_detail.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
</configuration>